.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-form input, .signup-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 전화번호 input 묶음 정렬용 */
.phone-input {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.phone-input input {
    width: 60px;
    text-align: center;
}